.intro {
  position: relative;
  width: 100%;
  width: 100%;
  height: 740px;
  overflow: hidden;

  @include vp-1023 {
    height: 460px;
  }

  @include vp-767 {
    height: 300px;
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__title {
    width: 800px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    margin: 0;
    font-family: $ff-tenor;
    font-size: 60px;
    line-height: 117%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    z-index: 2;

    @include vp-1023 {
      width: 520px;
      font-size: 40px;
      line-height: 115%;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 129%;
      width: 360px;
      position: absolute;
      bottom: -92px;
    }
  }
}
